/ch.qos.logback.classic/
/ch.qos.logback.core/
/ch.qos.logback.slf4j/
/com.fasterxml.jackson.core.jackson-annotations/
/com.fasterxml.jackson.core.jackson-core/
/com.fasterxml.jackson.core.jackson-databind/
/com.fasterxml.jackson.jaxrs.jackson-jaxrs-base/
/com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider/
/com.google.gson/
/com.google.guava/
/com.googlecode.json-simple/
/com.hazelcast/
/com.jolbox.bonecp/
/com.lowagie.text.itext/
/com.mchange.v2.c3p0/
/com.microstar.xml.aelfred/
/com.sap.security.nw.vsi/
/com.springsource.com.sun.syndication/
/com.springsource.org.aopalliance/
/com.springsource.org.apache.commons.beanutils/
/com.springsource.org.apache.commons.codec/
/com.springsource.org.apache.commons.collections/
/com.springsource.org.apache.xalan/
/com.springsource.org.aspectj.weaver/
/com.springsource.org.jdom/
/commons-net/
/javax.ejb/
/javax.el/
/javax.jms/
/javax.mail/
/javax.persistence/
/javax.validation.api/
/javax.xml.rpc/
/json/
/net.sf.dozer.dozer-osgi/
/olingo-odata2-api/
/olingo-odata2-core/
/org.apache.aries.blueprint.api/
/org.apache.commons.configuration/
/org.apache.commons.digester/
/org.apache.commons.fileupload/
/org.apache.commons.io/
/org.apache.commons.jxpath/
/org.apache.commons.lang/
/org.apache.commons.lang3/
/org.apache.commons.logging/
/org.apache.cxf.cxf-api/
/org.apache.cxf.cxf-rt-bindings-soap/
/org.apache.cxf.cxf-rt-bindings-xml/
/org.apache.cxf.cxf-rt-core/
/org.apache.cxf.cxf-rt-databinding-jaxb/
/org.apache.cxf.cxf-rt-frontend-jaxrs/
/org.apache.cxf.cxf-rt-frontend-jaxws/
/org.apache.cxf.cxf-rt-frontend-simple/
/org.apache.cxf.cxf-rt-transports-http/
/org.apache.cxf.cxf-rt-ws-addr/
/org.apache.cxf.cxf-rt-ws-policy/
/org.apache.cxf.cxf-rt-ws-security/
/org.apache.felix.configadmin/
/org.apache.felix.fileinstall/
/org.apache.felix.gogo.command/
/org.apache.felix.gogo.runtime/
/org.apache.felix.gogo.shell/
/org.apache.felix.http.bridge/
/org.apache.felix.http.whiteboard/
/org.apache.felix.scr/
/org.apache.felix.shell.remote/
/org.apache.felix.webconsole/
/org.apache.httpcomponents.httpclient/
/org.apache.httpcomponents.httpcore/
/org.apache.neethi/
/org.apache.santuario.xmlsec/
/org.apache.servicemix.bundles.wsdl4j/
/org.apache.servicemix.bundles.xerces/
/org.apache.servicemix.bundles.xmlresolver/
/org.apache.servicemix.specs.jsr339-api-m10/
/org.apache.shiro.core/
/org.apache.shiro.spring/
/org.apache.shiro.web/
/org.apache.ws.security.wss4j/
/org.apache.ws.xmlschema.core/
/org.apache.xml.serializer/
/org.eclipse.gemini.blueprint.core/
/org.eclipse.gemini.blueprint.extender/
/org.eclipse.gemini.blueprint.io/
/org.eclipse.persistence.asm/
/org.eclipse.persistence.core/
/org.eclipse.persistence.jpa/
/org.eclipse.persistence.jpa.jpql/
/org.hibernate.validator/
/org.quartz.quartz-scheduler/
/org.slf4j.api/
/org.slf4j.osgi-over-slf4j/
/org.springframework.aop/
/org.springframework.beans/
/org.springframework.context/
/org.springframework.core/
/org.springframework.expression/
/org.springframework.jdbc/
/org.springframework.orm/
/org.springframework.tx/
/org.springframework.web/
/osgi.cmpn/
/stax2-api/
/woodstox-core-asl/
