/com.sap.banking.alertsengine.cfg
/com.sap.banking.applications.cfg
/com.sap.banking.banking.cfg
/com.sap.banking.banksim.cfg
/com.sap.banking.bpw.cfg
/com.sap.banking.checkimaging.cfg
/com.sap.banking.common_adapter.cfg
/com.sap.banking.common_encryption.cfg
/com.sap.banking.common_util.cfg
/com.sap.banking.common.cfg
/com.sap.banking.commonconfig.cfg
/com.sap.banking.fileimporterconfig.cfg
/com.sap.banking.forex.cfg
/com.sap.banking.payments.cfg
/com.sap.banking.persistence.cfg
/com.sap.banking.portal.cfg
/com.sap.banking.reporting.cfg
/com.sap.banking.scheduleruntime.cfg
/com.sap.banking.sms.cfg
/com.sap.banking.smssender.cfg
